<h3>Your store (<%= @store.name %>) has been created at (example.com/<%= @store.path %>) with the description "<%= @store.description %>" and is pending administrator approval before it goes live. We appreciate your patience</h3>
