<h1> Sorry! That store does not exist. Here are some other great options. </h1>

<table border="1" cellpadding="10" style="font-size:30px">
  <tr align="left" style="background-color:#61c84c; color:white">
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
</tr>

<% @stores.each do |store| %>
  <tr style="background-color:#eeedc8">
    <td><%= store.name %></td>
    <td><%= store.description.to_s[0..31] %></td>
    <td><%= link_to 'Go', store_home_path(store.path) %></td>
    </tr>
<% end %>
</table>