<!DOCTYPE html>
<html>
  <head>
    <h1> Your Store Profile </h1>
    <title> Your Store Profile</title>
  </head>
  <br>
  <br>
  <br>
  <br>
  <body>
    <div style= "left">
      <%= link_to image_tag("button1.png"), new_store_path %>
    </div>
  </body>
</html>
