<div class="well well-large">
  <h1>New order</h1>
  <% if !logged_in? %>
    <p>Have an account with us? <%= link_to "sign in", login_path(redirect: new_order_path) %></p>
  <% end %>
  <%= render 'form' %>
</div>
