<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Imagetoolbar" content="no">
<%= stylesheet_link_tag "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>


  <title>The Market Collective</title>
</head>
  <body>
    <!-- Flash -->
          <div class="row">
              <%= bootstrap_flash %>
          </div>
              <%= yield %>
        </div>
     </div>
    <center>

    <%=image_tag "main4.jpg", :alt => "index", :size => "1200x816", :usemap => "#viewstores" %>

    <map name="viewstores" id="viewstores">
      <area shape="circle" coords="203,657,77" href="/store_listing" alt="View All Stores" />
      <area shape="circle" coords="925,94,64" href="/login" alt="Log In" />
      <area shape="circle" coords="1084,90,56" href="/users/new" alt="Sign Up" />
    </map>
    <map name="login" id="login">
      <area shape="circle" coords="200,665,62" href="/store_listing" alt="view_stores" />
      <area shape="circle" coords="929,92,69" href="/login" alt="Log In" />
    </map>
  </center>
 </body>
</html>


