<!DOCTYPE html>
<html>
  <head>
    <h1 style= "font-family:Arial; font-size; 30px, color:brown;"> <%= link_to current_user.full_name, profile_path %>'s User Profile </h1>
    <title> Your User Profile</title>
  </head>



  <body>
    <div style= "left">
      <%= link_to image_tag("New_Site_Button.png"), new_store_path %>
    </div>
  </div>
  </body>
</html>
